<ion-view>
  <ion-content>
    <ion-scroll style="height: 100%;">

      <div class="bar bar-header item-input-inset wow-search-header">
        <label class="item-input-wrapper">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="search" placeholder="Search products and recipes">
        </label>
        <button class="button button-clear">
          Cancel
        </button>
      </div>

      <div class="list card">
        <div class="item item-divider">This is where the trolley goes</div>
        <div class="item item-body">
          <div>
          </div>
        </div>
      </div>

    </ion-scroll>
  </ion-content>
</ion-view>
