<ion-view>
  <ion-content>
    <ion-scroll style="height: 100%;">

      <div class="bar bar-header item-input-inset wow-search-header">
        <label class="item-input-wrapper">
          <i class="icon ion-search placeholder-icon"></i>

          <input type="search" placeholder="Search">
        </label>
        <button class="button button-clear">
          Cancel
        </button>
      </div>

      <div class="list card">
        <div class="item item-divider">Recent Updates</div>
        <div class="item item-body">
          <div>
            There is a fire in <b>sector 3</b>
          </div>
        </div>
      </div>
      <div class="list card">
        <div class="item item-divider">Health</div>
        <div class="item item-body">
          <div>
            You ate an apple today!
          </div>
        </div>
      </div>
      <div class="list card">
        <div class="item item-divider">Upcoming</div>
        <div class="item item-body">
          <div>
            You have <b>29</b> meetings on your calendar tomorrow.
          </div>
        </div>
      </div>
    </ion-scroll>
  </ion-content>
</ion-view>
