<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="Products" icon-off="ion-ios-nutrition-outline" icon-on="ion-ios-nutrition" href="#/tab/products">
    <ion-nav-view name="tab-products"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Recipes" icon-off="ion-ios-clock-outline" icon-on="ion-ios-clock" href="#/tab/recipes">
    <ion-nav-view name="tab-recipes"></ion-nav-view>
  </ion-tab>

  <ion-tab title="My Lists" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/lists">
    <ion-nav-view name="tab-lists"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Trolley" icon-off="ion-ios-cart-outline" icon-on="ion-ios-cart" href="#/tab/trolley">
    <ion-nav-view name="tab-trolley"></ion-nav-view>
  </ion-tab>

  <ion-tab title="More" icon-off="ion-navicon-round" icon-on="ion-navicon-round" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
